@using OnlineRetailPlatformDiss.Models;
@inject OnlineRetailPlatformDiss.Data.ApplicationDbContext _context;
@using Microsoft.Extensions.Logging
@inject AuthenticationStateProvider auth;

@page "/customer/business/{businessName}"

<!-- Business Details -->
<div class="container text-center">
    <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container">
        @if(Business?.BannerUrl is null)
        {
            <img src="/images/business/placeholderimg.jpg" class="img-fluid border rounded-3 shadow-lg mb-4 pb-2" alt="Placeholder Image" width="700" height="500" loading="lazy">
        }
        else
        {
            <img src="@Business.BannerUrl" class="img-fluid border rounded-3 shadow-lg mb-4 pb-2" alt="Business Image" width="700" height="500" loading="lazy">
        }
        </div>
    </div>

    <div class="row pb-3">
        <h1 class="pb-3">@Business?.BusinessName</h1>
        <h2 class="pb-2">@Business?.BusinessDesc</h2>
    </div>
    <div class="divider" />

    <div class="row pt-3">
         <div class="col-6 align-items-center justify-content-center"> <!-- Address Details -->
            <h2 class="text-decoration-underline">Address</h2>
            <p>@Business?.AddressLine1</p>
            <p>@Business?.AddressLine2</p>
            <b>@Business?.Town</b>
            <p>@Business?.PostCode</p>
        </div>
        <div class="col-6">
            <h2 class="text-decoration-underline">Opening Hours</h2> <!-- Opening Hours to be added -->
        </div>
    </div>

    <!-- Listing all products sold by the business-->
    <div class="divider" />

    <div class="row pt-3">
        <h1>Products from @Business?.BusinessName</h1>
    </div>

    @if(!Products.Any())
    {
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
        <p>We couldn't find any products! Please try again later!</p>
        </div>
    </div>
    }
    else
    {
    <div class="row pt-2 mt-3 pl-3">
        @foreach (var product in Products)
        {
        <div class="col-lg-4 d-flex align-items-center">
            <ProductCard product="product" />
        </div>
        }
    </div>
    }
</div>

@code {
    [Parameter]
    public string? businessName {  get;  set; }
    public BusinessAccountModel? Business { get; set; }
    public List<ProductModel>? Products { get; set; } 

    protected override void OnInitialized()
    {
        Business = _context.BusinessAccount.Single(b => b.BusinessName == businessName);
        Products = _context.Products.Where(prod => prod.BusinessName == businessName).ToList();
    }
}
