@using OnlineRetailPlatformDiss.Models;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Logging;
@inject OnlineRetailPlatformDiss.Data.ApplicationDbContext _context;

<!-- Card style for each item within the Businesses List -->
<div class="container mt-4 mb-4 shadow-lg">
    <div class="row">
        <div class="col-6 pt-5 text-center align-items-center">
            <h3 class="mb-3">@Business?.BusinessName</h3>
            <h5 class="mb-3">@Business?.BusinessDesc</h5>
            <h5 class="mb-3">Town: @Business?.Town</h5>
            <a class="btn btn-lg btn-outline-primary" href="/customer/business/@Business?.BusinessName">View Business</a>
        </div>
        <div class="col-6 pt-3">
            @if(Business?.BannerUrl == null)
            {
                <img src="/images/business/placeholderimg.jpg" class="img-fluid border rounded-3 shadow-lg mb-4 pb-2" alt="Placeholder Image" width="700" height="500" loading="lazy">
            }   
            else
            {
                <img src="@Business.BannerUrl" class="img-fluid border rounded-3 shadow-lg mb-4 pb-2" alt="Business Image" width="700" height="500" loading="lazy">
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public BusinessAccountModel? Business { get; set; }
}
