@using OnlineRetailPlatformDiss.Models
@using OnlineRetailPlatformDiss.Services
@using OnlineRetailPlatformDiss.Data;
@inject ApplicationDbContext context;
@inject ShoppingBasketService basket
@inject IJSRuntime js;
@inject AuthenticationStateProvider auth;
@inject NavigationManager nav;

@page "/Checkout";
@attribute [Authorize];
<PageTitle>Checkout</PageTitle>

<div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://www.logolynx.com/images/logolynx/cf/cff9eb13659bb9ea6af7af6522f4d309.png" alt="Shopping Cart Img" width="80" height="80">
        <h1>Checkout</h1>
        <p class="lead">Please enter the required details:</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your Shopping Cart</span>
          </h4>
          <ul class="list-group mb-3">
            @foreach(var product in products)
            {
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">@product?.Product?.ProductName</h6>
                    <small class="text-muted">Quantity: @product?.Count</small>
                  </div>
                  <span class="text-muted">£@product?.Product?.ProductPrice</span>
                </li>  
            }
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (GBP)</span>
              <strong>£@BasketTotal</strong>
            </li>
          </ul>

        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Shipping/Billing Address</h4>
          <EditForm Model="@order" OnSubmit="@PlaceOrder" class="form-horizontal" role="form">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="forename">First Name</label>
                <InputText class="form-control" id="forename" placeholder="Enter your first name" @bind-Value="@order?.Forename" />
              </div>
              <div class="col-md-6 mb-3">
                <label for="surname">Surname</label>
                <InputText class="form-control" id="surname" placeholder="Enter your second name" @bind-Value="@order?.Surname" />
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email Address</label>
              <!-- Disabling this field ensures that the email address cannot be changed by the user, as the solution
                    requires the same email as the account to find the orders associated with their email.
              -->
              <InputText class="form-control" id="email" placeholder="you@example.com" @bind-Value="@order?.Email" disabled/>
            </div>
            <div class="mb-3">
                <label for="AddressLine1">Address Line 1</label>
                <InputText id="AddressLine1" class="form-control" placeholder="1234 Main St" @bind-Value="@order?.AddressLine1" />
            </div>
            <div class="mb-3">
              <label for="AddressLine2">Address Line 2</label>
              <InputText id="AddressLine2" class="form-control" placeholder="Apartment or suite" @bind-Value="@order?.AddressLine2"/>
            </div>
            <div class="mb-3">
              <label for="Town"></label>
              <InputText id="Town" class="form-control" placeholder="Bridgwater" @bind-Value="@order?.Town" />
            </div>
            <div class="mb-3">
              <label for="County"></label>
              <InputText id="County" class="form-control" placeholder="Somerset" @bind-Value="@order?.County" />
            </div>
            <div class="mb-3">
              <label for="PostCode"></label>
              <InputText id="PostCode" class="form-control" placeholder="AB1 2CD" @bind-Value="@order?.PostCode" />
            </div>
            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Proceed to Payment</button>
          </EditForm>
            <a class="btn btn-danger btn-lg btn-block" href="/">Cancel Order</a>
        </div>
      </div>
    </div>




@code {
    OrderModel? order;
    List<BasketModel>? products;
    decimal BasketTotal;

    protected override async Task OnInitializedAsync()
    {
        //Get the User details to auto-assign to the OrderModel
        var userName = auth.GetAuthenticationStateAsync().Result.User.Identity?.Name; //Get the current user
        var userModel = context.Users.FirstOrDefault(u => u.Email == userName);

        products = await basket.GetBasketItems(); //Getting the products in the users basket...
        BasketTotal = await basket.GetTotal();

        order = new OrderModel();

        if (userModel is not null)
        {   
            order.Email = userName;
            order.Forename = userModel.Forename;
            order.Surname = userModel.Surname;
            order.AddressLine1 = userModel.AddressLine1;
            order.AddressLine2 = userModel.AddressLine2;
            order.County = userModel.County;
            order.PostCode = userModel.PostCode;

            order.OrderDate = DateTime.Now;
        }
    }

    private void PlaceOrder()
    {
        //Place the order using the ShoppingBasketService
    }
}
