@inherits LayoutComponentBase

<PageTitle>OnlineRetailPlatformDiss</PageTitle>

<header>
  <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>
