<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <NavLink class="navbar-brand" href="#">Online Retail Platform Diss</NavLink>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <NavLink class="nav-link" href="#">Home</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="/customer/business/view">View Retailers</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="/product/create">(Admin) Create Product</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="/product/view">(Admin) View Product</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/MyBasket">Basket</NavLink>
        </li>
      </ul>
      <LoginDisplay />
    </div>
  </div>
</nav>

@code {

}
