@page "/"

<PageTitle>Welcome</PageTitle>

<SearchProducts />

<div class="text-center pt-4">
    <h1>Admin Options</h1>
    <a class="btn btn-primary" href="/product/create">Create Product</a>

    <a class="btn btn-primary" href="/business/create">Create Business</a>

    <a class="btn btn-primary" href="/business/view">View Business/Products</a>
</div>


