@using OnlineRetailPlatformDiss.Models;
@inject OnlineRetailPlatformDiss.Data.ApplicationDbContext _context;
@using Microsoft.Extensions.Logging
@inject AuthenticationStateProvider auth;
@inject ILogger<OwnerViewBusiness> Logger
@attribute [Authorize]

@page "/business/view"

<div class="container">
    <div class="row pt-3">
        <div class="col text-center align-items-center">
            <h1 class="display-4 fw-bold">Businesses managed by: @manager</h1>
        </div>
    </div>
</div>

<div class="divider" />

<div class="container">
    @if (businesses == null)
    {
    <div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Hmmm... it looks like @manager does not manage any businesses...
        </div>
    </div> 
    }
    else
    {
        @foreach (var business in businesses)
    {
        <div class="row pt-2">
            <BusinessListItem business="@business" />
            <div class="divider" />
            <br>
        </div>
    }
    }
    
</div>



@code {
    List<BusinessAccountModel>? businesses;
    string? manager;

    protected override void OnInitialized()
    {
        manager = auth.GetAuthenticationStateAsync().Result.User.Identity?.Name;
        businesses = _context.BusinessAccount?.Where(x => x.ManagerID == manager).ToList();
    }
}
