@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Welcome</h1>

<a class="btn btn-primary" href="/product/create">Create Product</a>

<a class="btn btn-primary" href="/product/view">View Products</a>

<a class="btn btn-primary" href="/business/create">Create Business</a>

<a class="btn btn-primary" href="/business/view">View Business</a>
