@using OnlineRetailPlatformDiss.Models;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Logging
@inject OnlineRetailPlatformDiss.Data.ApplicationDbContext _context;
@inject AuthenticationStateProvider auth;
@inject ILogger<ViewProducts> Logger
@attribute [Authorize]

<!-- This needs to be removed in the future to act as a component than an individual page -->
@page "/business/products/{businessName}"

<h1 class="display-4 fw-bold">@businessName : Products</h1>

<div class="container">
    @if(products.Count != 0)
    {
        <table class="table" style="width:100%">
            <thead>
            <tr>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var product in products) //This doesn't operate, products appear then quickly disappear...
                {
                    <tr>
                        @if(product.ImageUrl != null)
                        {
                            //Show the image
                            <td><image class="img-thumbnail img-responsive" src="@product.ImageUrl" alt="Product Image" width="100" height="100" /></td>
                        }
                        else
                        {
                            //No image placeholder
                            <td><image class="img-thumbnail img-responsive" src="/images/products/noimageplaceholder.jpg" alt="Product Image Placeholder" width="100" height="100" /></td>
                        }
                        <td>@product.ProductName</td>
                        <td>@product.ProductDescription</td>
                        <td><a class="btn btn-primary btn-sm" href="">Manage Product</a></td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <div class="alert alert-warning d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                <p>We couldn't find any products for your business!</p>
                <a class="btn btn-alert" href="/product/create">Create Product</a>
              </div>
            </div>
    }
</div>


@code {
    [Parameter] //Parameter of the razor component page
    public string? businessName { get; set; }
    List<ProductModel> products = new();

    protected override void OnInitialized()
    {
        products = _context.Products?.Where(x => x.BusinessName == businessName).ToList();
    }
}